<html>

<head>
  <script src="jquery.js"></script>
  <script>
    $(function () {
      $("#Content").load("xz.html");
    });

  </script>
</head>

<link href="ortho/node_modules/@glidejs/glide/dist/css/glide.core.min.css">

<div id="navbar">

  <span><a href=""><img id="logo" src="./assets/images/logo.PNG" alt=""></a></span>
  <div id="logo1"><img src="./assets/images/logo.PNG" alt=""></div>
  <span id="adv"> <a href="">ГОЛОВНА</a></span>
  <span> <a href="advantages">НАШІ ПЕРЕВАГИ</a></span>
  <span> <a href="braces">НАШІ БРЕКЕТИ</a></span>
  <span> <a href="rules">ПРАВИЛА ДЛЯ ПАЦІЄНТІВ</a></span>
  <span> <a href="gallery">ГАЛЕРЕЯ</a></span>

  <div (click)="toggleNavbar()" id="nav_butt"><img src="./assets/images/Menu Icon.png" alt=""></div>
</div>


<div id="mob_menu" [ngClass]="{ 'show': navbarOpen }">
  <span> <a href="">ГОЛОВНА</a></span>
  <span> <a href="advantages">НАШІ ПЕРЕВАГИ</a></span>
  <span> <a href="braces">НАШІ БРЕКЕТИ</a></span>
  <span> <a href="rules">ПРАВИЛА ДЛЯ ПАЦІЄНТІВ</a></span>
  <span> <a href="gallery">ГАЛЕРЕЯ</a></span>
</div>

<div [ngClass]="{ 'show2': navbarOpen }">
  <div id="bod" style="display: flex; flex-direction:column;">
    <span style="text-align: center; display: inline-block; margin-bottom: 50px; font-size: 26px; color: #262626">БАЗОВІ ПРАВИЛА ДЛЯ ОРТОДОНТИЧНИХ ПАЦІЄНТІВ</span>
    <div style="display: flex; flex-direction: column; margin-bottom: 30px;">
      <div class="advantage" style="display: flex; flex-direction: column; align-items: left; gap: 20px; line-height:30px">

        <div class="txt">
          <div class="highlight">🚀 ОБОВ’ЯЗКОВЕ ДОТРИМАННЯ РЕКОМЕНДАЦІЙ ЛІКАРЯ.</div> Носіння еластиків, вправи тощо.
        </div>
         
        <div class="txt">
            <div class="highlight">🚀 ЗВИКАННЯ ДО БРЕКЕТ-СИСТЕМИ.</div> У перші дні після фіксації брекетів (в середньому близько 3-7 днів), можуть виникати деякий дискомфорт та больові відчуття. При виражених больових відчуттях можна використовувати будь-які знеболюючі препарати, які вам зазвичай допомагають при зубному або головному болю.
          </div>
          <div class="txt">
            <div class="highlight">🚀 БРЕКЕТИ</div> можуть натирати щоки, язик та губи.
          </div>
          <div class="txt">
            <div class="highlight">🚀 ГІГІЄНА.</div> Важливість правильної гігієни порожнини рота при ортодонтичному лікуванні.
            <div>
            </div>
                <ul st>
               <li> навколо брекетів збирається зубний наліт, який містить мільйони шкідливих мікроорганізмів. Вони виділяють агресивні речовини. Якщо не вичищати, вони поступово роз'їдають емаль зубів, на ній можуть утворюватися білі плями (ділянки демінералізації), особливо помітні після зняття брекетів;</li>
<li>• ЯКЩО НЕ ВИЧИЩАТИ, виникає запалення ясен (гінгівіт), вони стають набряклими, починають боліти і кровоточити;</li>
<li>• внаслідок ПОГАНОЇ ГІГІЄНИ починається запалення ясен і зуби починають переміщуватися повільніше, збільшується термін лікування, брекети частіше відпадають;</li>
<li>• при постійно поганій гігієні порожнини рота може бути поставлено питання про дострокове припинення ортодонтичного лікування. </li>
    <li> •Приходити на прийом кожні 4-8 тижнів (залежно від типу системи, проживання та етапу лікування).</li>
</ul>
        

          </div>
          <div class="txt">
            <div class="highlight">🚀 ХАРЧУВАННЯ.</div> Бути обережним. Подрібнюйте їжу. Обмежити вживання вуглеводних (мучних) продуктів, бо вони тяжко вичищаються та є дуже поживними для мікробів. Обмежити вживання грубої їжі, хрусткої, печива для запобігання відколюванню брекетів; жувальних гумок для запобігання налипання. Відучитися гризти нігті, олівці, ручки. ВСЕ РІЗАТИ І НІЧОГО НЕ ВІДКУШУВАТИ!
          </div>
          <div class="txt">
            <div class="highlight">🚀 БУТИ НА ЗВ’ЯЗКУ ЗІ СВОЇМ ОРТОДОНТОМ.</div>
          </div>
    
      </div>
      
  
      
    </div>
   
</div>
</div>
<footer id="footer">
    <span id="foot1">вулиця Минайська, 35А, Ужгород, Закарпатська область, 88000</span>
    <div id="foot2"><img width="40px" src="./assets/images/Instagram.png" alt="">
    <img width="40px" src="./assets/images/Facebook_white.png" alt="">
    <img width="40px" src="./assets/images/tel.png" alt="">
    </div>
    <span id="foot3">(066) xxx-xx-xx<br>
      (066) xxx-xx-xx</span>
    </footer>

</html>
