* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Futura Pt";
    src: url("src/assets/images/Futura.ttf") format("opentype");
  }
  
  span {
    font-family: "Futura Pt";
    font-size: 22px;
    color: white;
  
  }
  
  #navbar {
    height: 100px;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 60px;
    align-items: center;
    margin: -8px;
    margin-left: -40px;
  
  }
  
  #nav_butt {
    display: none;
    position: relative;
    right: -100px;
    cursor: pointer;
  }
  
  #nav_butt img {
    width: 50px;
  }
  
  #logo1 {
    display: none;
    position: relative;
    left: -100px;
    cursor: pointer;
  }
  
  #logo1 img {
    width: 180px;
  }
  
  #logo {
    width: 200px;
    margin-top: -9px;
  }
  
  #adv {
    margin-left: -40px;
  }
  
  @media screen and (max-width: 1210px) {
    span {
      font-size: 18px;
    }
    #logo {
      width: 160px;
      margin-top: -8px;
    }
  
    #adv {
      margin-left: -30px;
    }
  }
  
  @media screen and (max-width: 970px) {
    span {
      font-size: 16px;
    }
    #logo {
      width: 150px;
      margin-top: -6px;
    }
    #navbar {
      padding: 0 0px;
      /* width: 103%; */
      margin-left: -20px;
    
    }
    #adv {
      margin-left: -25px;
    }
  }
  
  
  @media screen and (max-width: 770px) {
  #navbar {
  margin-bottom: 35px
  }
  
  .show2{
  background-color: #77ABA5;
  }
  }
  /* #mob_menu {
    height: 100vh;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    display: none;
    margin: -10px -10px;
  } */
  
  
  #mob_menu span{
    display: none;
  }
  .show2{
    visibility: visible;
  }
  
  
  @media screen and (max-width: 770px) {
  
    .commm{
      padding-top: 0px;
      padding-bottom: 220px;
    }
  
    #carousel {
      margin-top: -165px;
    }
    .show2{
   display: none;
    }
  
  
    #mob_menu span{
      display: flex;
      font-size: 26px;
  
    }
  
    .show span {
      font-size: 26px;
      display: flex;
      color: white;
      
    }
  
    .show {
      height: 100vh;
      background-color: #262626;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 32px;
      margin: -10px -10px;
   background-color: #262626;
  margin-top: -45px;
  
    }
  
    #navbar span {
      display: none;
    }
  
    /* #mob_menu {
      display: flex;
    } */
  
    #nav_butt {
      display: inline;
    }
  
    #logo1 {
      display: inline;
    }
  
    /* #mob_menu span {
      font-size: 26px;
  display: flex;
    } */
  
  }
  
  #navbar span:hover, #mob_menu span:hover {
    color: #77ABA5;
  }
  
  .carousel-cell {
    width: 300px;
    height: 350px;
  }
  
  .carousel {
  position: relative;
  height:300px; padding-top: 15px;  background-color: #77ABA5; margin-left: -8px; padding-left: 8px; margin-right: -10px;
  }
  
  img {
    cursor:default
  }
  .show {
    z-index: 500;
  position: relative;top: 10px;
  background-color: #262626;
  }
  
  #reg_online {
    font-size: 2.5vw;
    color: #262626;
  }
  
  #reg_online_2 {
    font-size: 2.2vw;
    color: #262626;
  }
  
  #reg_online_div {
    text-align:center; margin: 50px 250px;
  }
  
  #reg_button {
    width: 200px; height:60px; background-color: #77ABA5;color: white; font-family: 'Futura Pt'; 
    font-size: 22px;
    margin-top: 30px;
  }
  @media screen and (max-width: 900px) {
  #reg_online {
    font-size: 4vw;
    color: #262626;
  }
  
  #reg_online_2 {
    font-size: 3.6vw;
    color: #262626;
  }
  
  #reg_online_div {
    text-align:center; margin: 50px 50px;
  }
  
  #reg_button {
    width: 160px; height:60px; background-color: #77ABA5;color: white; font-family: 'Futura Pt'; font-size: 16px;
  }
  }
  
  a{
    color: white;
  }
  
  
  #footer {
    height: 200px;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 60px;
    align-items: center;
    margin: -8px;
    margin-left: -40px;
  }
  
  
  @media screen and (max-width: 800px) {
  .comparison{
  flex-wrap: wrap;
  }
  
  .img-comparison-slider1{
  margin-bottom: 50px;
  }
  
  #img-comparison-slider2
  {
  margin-top: -50px;
  }
  }
  
  #foot1 {
    width: 20%;
  }
  
  #foot2 {
    width:12%;display:flex; justify-content: space-around;
    text-align: left;
    margin-left: 30px;
  }
  
  #foot3 {
    width: 20%; text-align: right;
  }
  
  #footer{
    padding: 60px; display: flex; justify-content: space-evenly; line-height: 30px;
  }
  
  @media screen and (max-width: 400px) {
  #navbar {
    width: 104vw;
  }
  }
  @media screen and (max-width: 760px) {
  #reg_online_div {
    margin-bottom:0px;
  }
    #inst{
      margin-top: -150px;
  
    }
  
    #comp {
      padding-top: 30px;
    }
  
    #foot1 {
      width: 80%;
      text-align: center;
      display: block;
  margin-top: 180px;
      text-align: center;
      margin-bottom: 30px;
      font-size: 16px;
    }
  
    #navbar {
      width: 103vw;
    }
    #nav_butt{
  margin-left: -200px;
    }
    
    #foot2 {
      width:60%;display:flex; justify-content: space-around;
      text-align: center;
      align-items: center;
  
      display: flex;
  
      margin-bottom: 30px;
   
      margin-left: 0px;
    }
  
    #foot2 img {
      width: 30px;
    }
    .carousel {
  padding-top: 17px;
    }
    #foot3 {
      width: 100%; text-align: center;
      font-size: 16px;
    }
  
    #footer {
       display: flex; flex-direction: column; justify-content: center; line-height: 30px; padding-bottom: 230px;
       padding-left: 90px;
    }
  }
  #c2 {
    display: none;
  }
  
  @media screen and (max-width: 400px) {
    #navbar {
      width: 104vw;
    }
  }
  #br2 {
    width: 400px;
  }
  
  @media screen and (max-width: 770px) {
  
    #c1 {
      display: none;
    }
  
  
    #c2 {
      display: block;
      margin-top: -165px;
    }
    }
  
    iframe {
      width:600px;
      height:500px;
    }
    
  #iframe {
  display: flex; justify-content: center; margin-bottom: 70px;
  margin-top: -20px;
  }
  
  
    @media screen and (max-width: 760px) {

      iframe {
        width:400px;
        height:300px;
  
      }
  
      #iframe {
      margin-left: -200px;
      margin-bottom: -130px;
      margin-top: 30px;
      }
      
      
    }

    .txt {
        text-align: center;
        width: 70%;
        font-size: 26px;
        color: #262626;
        font-family: "Futura Pt";

    }

  .advantage  img {
        width: 440px;
         height:220px;
    }

    .advantage{
        flex-wrap: nowrap
    }
    .highlight {
        color: #77ABA5;
      
    }
    #bod {
        margin: 50px 100px;
    }



    @media screen and (max-width: 1000px) {
      #br2 {
        width: 270px;
      }
        #bod {
            margin-top: -110px;
        }
        .advantage   img {
            width: 290px;
             height:140px;
        }
        .highlight {
            color: #77ABA5;
            display: block;
        }

    .advantage {
        flex-wrap: wrap;
        justify-content: center;
    }
    .txt {
        text-align: center;
        width: 100%;
    }

    #bod {
      margin: 50px 10px;
      margin-top: -120px;
  }
  
    }

 
a:hover{
  color: #77ABA5;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
    #bod {
        margin-top: 50px;
    }
}

#logo{

  width:100px;
  margin-top: 20px; 
  height: 70px;
  }
  #logo1 img{
  height: 80px;
  width: 80px;
  
  margin-top: 20px;
    }
  
  @media screen and (max-width: 1000px) {
    #logo{
      width:70px;
      margin-top: 20px; 
      height: 50px;
      }
  
   
  }

  